name: MySawit CI

on:
  push:
    branches: [ staging, feat/** ]
  pull_request:
    branches: [ staging, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: testdb
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Wait for DB
        run: sleep 10

      - name: Build and Test
        run: ./gradlew clean test jacocoTestReport

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT }}
            -Dsonar.organization=${{ secrets.SONAR_ORG }}
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.java.binaries=build/classes/java/main
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  dummy-deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Fake deployment
        run: echo "Deployment skipped because this is dummy CD"
